p.form-group
  font-size: 1rem
  text-align: center
  min-width: 270px

  label
    display: inline-block
    width: 6em
    text-align: right

    &.required
      &:after
        content: '*'
        color: red

    &.for-checkbox
      width: auto

  input
    display: inline-block
    margin-left: 10px
    width: 140px

    &[type='checkbox']
      position: relative
      float: left
      left: 28px
      top: 2px
      margin: 0
      width: auto
      border: none

  span
    display: inline-block
    position: absolute
    margin-top: 2px
    margin-left: 10px
    font-size: .75rem
    color: red
